<div class="jumbotron" ng-init="getBetsUsers();">
    <div class="container-fluid"  >
        <div class="row-fluid" >
            <h1><center>All previous bets</center></h1>
            <a class="btn btn-success pull-right" href="bets/apiv1.0/bets_users_as_csv" target="_blank">Export</a>
        </div>

        <div class="row-fluid" >
            <div class="input-group input-group-md col-md-6 col-md-offset-3 padding">
                <span class="input-group-addon">
                    <i class="glyphicon glyphicon-filter"></i>
                </span>
                <input class="form-control" type="search" ng-model="user_filter">
            </div>
        </div>

        <br/>

        <div class="row-fluid" >
            <div class="col-xs-12">
                <div id="no-more-tables" class="table-responsive">
                    <table class="table table-condensed table-striped">
                    <thead>
                        <tr>
                            <th class="date">date</th>
                            <th class="teamA">teamA</th>
                            <th class="resultA">resultA</th>
                            <th class="teamB">teamB</th>
                            <th class="resultB">resultB</th>
                            <th class="nickName">Nickname</th>
                            <th class="betA">betA</th>
                            <th class="betB">betB</th>
                            <th class="nbPoints">nbPoints</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="betuser in betsUsers | filter : user_filter">
                            <td data-title="date">{{ betuser.date }}                            </td>
                            <td data-title="teamA">{{ betuser.libteamA }}&nbsp;                            </td>
                            <td data-title="resultA">{{ betuser.resultA }}&nbsp;                            </td>
                            <td data-title="teamB">{{ betuser.libteamB }}&nbsp;                            </td>
                            <td data-title="resultB">{{ betuser.resultB }}&nbsp;                            </td>
                            <td data-title="nickName">{{ betuser.nickName }}&nbsp;                            </td>
                            <td data-title="betA">{{ betuser.betA }}&nbsp;                            </td>
                            <td data-title="betB">{{ betuser.betB }}&nbsp;                            </td>
                            <td data-title="nbPoints">{{ betuser.nbPoints }}&nbsp;                            </td>
                            
                        </tr>
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<div ng-include src="'static/js/piwik.js'"></div>-->

